@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --primary: 229 89% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 127 73% 40%;
    --secondary-foreground: 0 0% 100%;
    --destructive: 0 85% 56%;
    --destructive-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
}
